# Node modules
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# VSCode specific files
.vscode/

# Ignorar cache de pacotes e travamentos
package-lock.json
yarn.lock
